{% extends 'main/base.html' %}
{% block content %}
    <div class="container pt-3">
        <div class="h2 text-primary">Create trip</div>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control border-primary shadow-sm" id="name" name="name" placeholder="Unnamed">
            </div>
            <div class="mb-3">
                <label for="start_date" class="form-label">Start date (date of departure from UK)</label>
                <input type="date" class="form-control border-primary shadow-sm" id="start_date" name="start_date">
            </div>
            <div class="mb-3">
                <label for="end_date" class="form-label">End date (date arrived back into UK)</label>
                <input type="date" class="form-control border-primary shadow-sm" id="end_date" name="end_date">
            </div>
            <button type="submit" class="btn btn-primary shadow-sm">Save</button>
        </form>
    </div>
{% endblock content %}
