{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container align-middle justify-content-center">
    <div class="shadow-sm card p-3 border border-light">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success btn-block" type="submit">Log in</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <a href="{% url 'register' %}" class="btn btn-block btn-outline-primary">Register</a>
        </div>
    </div>
</div>

{% endblock content %}