<div class="card mt-2 mb-2 shadow-sm">
    <div class="card-body shadow">
        <h5 class="card-title">{{ trip.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Trip</h6>
        <div>{{ trip.start_date|date:"D d M Y" }}</div>
        <div>{{ trip.end_date|date:"D d M Y" }}</div>
        <div class="d-flex p-3">
            <div class="me-auto">Day count: {{ trip.day_count }}</div>
            <a role="button button-secondary p-3" href="{% url 'trip-view' trip.pk %}" class="ms-auto">✏️</a>
        </div>
    </div>
</div>
